.btnPrimary{
    font-weight: bold;
    border: none;
    background-color: var(--blue-primary);
    width: 6vw;
    height: 5vh;
    position: absolute;
    right: 4vw;
}

.btnPrimary:hover{
    background-color: #4fa2eb !important;
}

.btnPrimary:focus{
    background-color: #4fa2eb !important;
}