.mapContainer{
    /*display: grid;*/
    max-width: 75%;
    height: 50vh;
}

.active{
    background-color: #aad4fb;
    border-radius: 10px;
    font-weight: bold;
}

.hover:hover{
    font-weight: bold;
}
