.active{
    background-color: #aad4fb;
    border-radius: 10px;
    font-weight: bold;
}

.hover:hover{
    font-weight: bold;
}

.mapContainer{
    /*display: grid;*/
    height: 60vh;
}

.wrapper{
    width: 50vw;
}