.sidebar a{
    text-decoration: none;
}

.sidebar {

    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: var(--white-primary);
}

.sidebarLogo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1%;
    margin-top: 5vh;
}

.sidebarLogo p {
    border-bottom: 2px  solid var(--grey-primary);
    border-right: 2px  solid var(--grey-primary);
    border-top: 2px  solid var(--grey-primary);
    border-radius: 10px;
    padding: 15px 15px 15px 0px;
}

.sidebarMenu {
    margin-top: 1vh;
    position: relative;
}

.sidebarMenuIndicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: var(--green-primay);
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}

.sidebarMenuItem {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    color: #555;
    transition: color 0.3s ease-in-out;
    font-weight: 400;
}
.active{
    color: #fff;
    font-weight: bold;
}
.sidebarMenuItem:hover{
    font-weight: bold;
}

.sidebarMenuItemIcon {
    margin-right: 1rem;

}

.sidebarMenuItemIcon i{
    font-size: 1.75rem;
}

.sidebarMenuItemText {

}

.logoStylingLeft{
    font-family: Raleway, sans-serif;
    background-color: var(--blue-dark);
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-weight: 900;
}

.logoStylingRight{
    font-family: Raleway, sans-serif;
    color: var(--blue-dark);
    font-weight: bold;
}