.criteriaPagesWrapper{

}

.mutedShape{
    background-color: var(--grey-soft);
    border-radius: 20px;
    /*height: 5vh;*/
    padding: 5%;
    color: var(--grey-dark);
}

.greenShape{
    background-color: var(--blue-light);
    border-radius: 20px;
    padding: 5%;
    /*height: 5vh;*/
}

tr{
    text-align: center;
    vertical-align: middle;
    height: 80px;
}
th{
    height: 80px;
}

td{
    height: 80px;
}

.btnLight{
    background-color: var(--blue-light) !important;
}